@import url("./computer-modern-web-font/fonts.css");


/* this style sheet contains both real A4 measures, and display measures */
:root {
    --display-xsep: 2rem;
    --display-ysep: 2rem;
    --display-margins: 2rem;
    --display-page-pad: 1.5rem;
    --border-size: 1px;
    --page-scale: 1.5;
    --page-width: 21cm;
    --page-height: 29.7cm;
    --page-margin: 1cm;
    --page-colsep: 1cm;
    --page-parskip: 1rem;
    --page-final-w: calc(var(--page-width) - var(--page-margin) * 2);
    --page-final-h: calc(var(--page-height) - var(--page-margin) * 2);
    --page-font: "Computer Modern Sans", sans-serif;
    --page-font-style: normal;
    --page-font-it: "Computer Modern Serif", serif;
    --page-font-style-it: italic;
    --topic-pad: 1.3rem;
    --first-parskip: calc(var(--page-parskip) * 0.5);
    --other-parskip: calc(var(--page-parskip) * 1.3);
    font-size: calc(10pt * var(--page-scale));
    font-family: var(--page-font);
    font-style: var(--page-font-style);
    line-height: 1.1;
    text-overflow: ellipsis;
    font-variant-ligatures: no-common-ligatures; /* ligature "fi" is broken in Computer Modern */
    /*letter-spacing: calc(-0.02pt * var(--page-scale));*/
}


/* CUSTOM DEFINITIONS */
name, quad, cent { /* needed for columns display */
    display: inline-block; /* block treat like a character */
}
column, topic, exercise, args,
resol, mathb, divider,
note, par, blk {
    display: block;
}
nb {
    display: content;
}
tabl {
    display: inline-table;
}
iflex {
    display: inline-flex;
}


#body0 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin: var(--display-margins); /*display*/
}


/* STANDARD DEFINITIONS */
/* * { border: 1pt dotted #b1b1b1; }*/
body {
    margin: 0;;
    overflow-wrap: break-word;
    cursor: default;
}
object {
    width: 100%;
    min-height: calc(100vh - var(--display-xsep) * 2); /*display*/
}
img {
    display: block;
    margin: auto;
}
ul {
    list-style: '▹ '; /* url("./bullet.svg") */
}
ul, ol {
    padding: 0;
    margin: 0;
    padding-left: var(--topic-pad);
}
li>table {
    display: inline-table;
    vertical-align: text-top;
    margin-top: -.4ex;
}


/* CUSTOMS STYLING */
document {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*align-items: center;*/
    align-content: center;
    counter-reset: cnt_pagedef;
    max-width: calc(var(--page-width) * var(--page-scale));
}
page {
    display: block;
    background-color: white;
    width: calc(var(--page-final-w) * var(--page-scale));
    max-height: calc(var(--page-final-h) * var(--page-scale));
    padding: 0 var(--display-page-pad);
    /*padding-bottom: 2rem;  required for block display in columns context */
    /* page does not contain real margin for display purposes */
}
page:not(:first-of-type) { /* between pages */
    margin-top: var(--display-margins); /*display*/
    padding-top: calc(var(--display-page-pad) / 2);
}
page:not(:first-of-type)::before { /* shadow box */
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: calc(var(--page-final-w) * var(--page-scale));
    height: calc(var(--display-page-pad) / 3);
    box-shadow: 0 -.3rem 1rem .1rem gray;
}
name+twocols {
    margin-top: 1ex;
}
twocols {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    /*columns: 2;
    column-gap: calc(var(--page-colsep) * var(--page-scale));*/
}
twocols>column {
    width: calc((var(--page-final-w) - var(--page-colsep)) / 2 * var(--page-scale));
}
column>* {
    width: 100%;
    box-sizing: border-box;
}

hlmark { color: #bb0000; }
hldang { color: #996600; }
hlwarn { color: #999900; }
hlinfo { color: #000099; }
hlextra { color: #999999; }
shdef { text-shadow: 0 0 .1em #dfdd5c; }
shinfo { text-shadow: 0 0 .1em #5c95df; }
nb { white-space: nowrap; }
blk { text-align: center; }
par:not(:last-child) { margin-bottom: .7rem; }
cent { vertical-align: middle; }
quad { width: 1rem; }

name::first-line {
    font-weight: bold;
    font-size: 1.2rem;
}
name {
    width: 100%;
    margin-bottom: 0.1em;
}
note {
    font-size: .8em;
    margin-top: -.5ex;
    margin-bottom: .7ex;
    /* padding-left: .5rem; */
}
divider {
    width: 100%;
    height: var(--border-size);
    background-color: gray;
}
mathb {
    margin: .3rem 0 .5rem 1.3rem;
}
iflex>par {
    margin-left: .8ex;
}
topic, exercise {
    overflow: hidden; /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    break-inside: avoid-column;
}


topic:not(:first-child) {
    margin-top: calc(var(--page-parskip) * 1.2);
}
page>:not(name),
topic>:not(name) {
    margin-top: var(--first-parskip);
}
page>name:first-child+par,
topic>name:first-child+par {
    margin-top: calc(var(--first-parskip) / 4);
}
page>:not(name)+:not(par):not(.near),
topic>:not(name)+:not(par):not(.near),
topic>:not(name)+:not(par)+par,
topic+exercise:not(.near) {
    margin-top: var(--other-parskip);
}
page>:not(name)+twocols {
    margin-top: calc(var(--page-parskip) * 2);
}
page>:first-child,
topic>:first-child {
    margin-top: 0;
}


args {
    list-style-type: '▹ ';
}
args>name:first-child::first-line {
    font-size: 1.05rem;
    font-weight: bold;
}
args>name:first-child:not(.cust)::before {
    content: "Argomenti";
}
args>:not(:first-child) {
    margin-bottom: .3rem;
}


resol {
    list-style-type: decimal;
}
resol>name:first-child::first-line {
    font-size: 1.05rem;
    font-weight: bold;
}
resol>name:first-child:not(.cust)::before {
    content: "Risoluzione";
}
resol>:not(:first-child) {
    margin-bottom: .3rem;
}


exercise {
    border: var(--border-size) solid black;
    padding: calc(.5cm * var(--page-scale));
    list-style-type: none;
}
exercise>:not(:last-child) {
    margin-bottom: .7rem;
}
exercise>li:first-child {
    font-family: var(--page-font-it);
    font-style: var(--page-font-style-it);
    margin-bottom: 1rem;
}


*>:last-child>mathb:last-child,
topic>mathb:last-child {
    margin-bottom: 0;
}


/* CUSTOM CLASSES */
args, resol, .pad {
    padding-left: var(--topic-pad);
}
phant, .phant {
    color: transparent;
    background-color: transparent;
    user-select: none;
}
resol>divider,
.pad>divider {
    margin-left: calc(var(--topic-pad) * -1);
    width: calc(100% + var(--topic-pad));
}
:not(resol).breath>:not(:first-child) {
    margin-top: .7rem;
}
resol.breath>:not(:first-child) {
    margin-bottom: .7rem;
}
resol.dry>:not(:first-child) {
    margin-bottom: 0;
}
.padfix {
    padding: .3rem 0 .15rem 0;
}
.interspace {
    margin-bottom: .5rem;
}
.interspace>* {
    margin-top: .2rem;
}
.interspace2>:not(:first-child) {
    margin-top: .4rem;
}
.big {
    font-size: 1.3em;
}
.debug {
    text-align: center;
    padding: .5em;
    margin: 0 0 1em 0;
    background-color: rgb(253, 238, 168);
    border: 2px solid rgb(216, 0, 0);
    border-radius: 1ex;
    box-sizing: border-box;
}
mathb.noleft {
    margin-left: 0;
}
par.def {
    font-family: var(--page-font-it);
    font-style: var(--page-font-style-it);
}
page.def>* * {
    --first-parskip: 0;
    --other-parskip: calc(var(--page-parskip) * 0.6);
}
page.def>name:first-child:not(.cust)::before {
    content: "Definizioni #" counter(cnt_pagedef);
    counter-increment: cnt_pagedef;
}
page.def topic {
    padding-left: 0;
}
topic topic name:first-child::first-line,
page.def name:first-child::first-line,
par.def name:first-child::first-line {
    font-family: var(--page-font);
    font-style: var(--page-font-style);
    font-size: 1rem;
    line-height: 1;
    margin-left: 0;
}
page.def>name:first-child::first-line {
    margin-bottom: 0.3em;
    font-size: 1.2rem;
}
page.def ul,
page.def ol {
    padding-left: var(--topic-pad);
}
topic.pad :not(li)>ul,
topic.pad :not(li)>ol {
    margin: 0;
    padding: 0;
}
topic.pad>name:first-child,
args>name:first-child,
resol>name:first-child {
    margin-left: calc(var(--topic-pad) * -1);
}
resol.ul {
    list-style-type: '▹ ';
}
.olnest:not(.incr) {
    counter-reset: cnt_alpha;
}
.olnest {
    list-style-type: none;
    padding-left: var(--topic-pad);
}
.olnest>li {
    display: block; /* do not increment outer lists */
}
.olnest>li::before {
    display: inline-block;
    margin-left: calc(var(--topic-pad) * -1.1);
    width: var(--topic-pad);
    text-align: right;
    padding-right: calc(var(--topic-pad) / 4);
}
.olnest.alpha>li::before {
    counter-increment: cnt_alpha;
    content: counter(cnt_alpha, lower-alpha) ") ";
}
.olnest.numeric>li::before {
    counter-increment: cnt_alpha;
    content: counter(cnt_alpha, decimal) ") ";
}
.olnest.roman>li::before {
    counter-increment: cnt_alpha;
    content: counter(cnt_alpha, lower-roman) ") ";
}
.wip {
    outline: dashed red;
    background-color: lightyellow;
}
.hide, .vwip { /* very work in progress */
    display: none;
}


/* KATEX PERFECTIONISM */
.katex,
.katex-display {
    /*line-height: 1;*/
    white-space: nowrap;
    font-size: 1em;
    display: inline-block;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
}
.mord.text {
    font-family: var(--page-font);
    font-style: var(--page-font-style);
}
.mathdefault:last-of-type {
    margin-right: 0 !important;
}
/*.base .rule, .base .strut {
    border-top-width: unset !important;
    height: unset !important;
}
.base .rule {
    border-top-width: 1.3rem !important;
}*/
.col-align-c {
    margin-bottom: -1rem;
}


/* RESPONSIVENESS */
@media screen and (max-width: calc((21cm - 1cm) * 1.5)) { /* <- cannot use variables here */
    :root {
        --page-scale: 1.3;
    }
    document {
        align-content: center;
    }
    page {
        width: 80%;
        min-width: calc(var(--page-final-w) / 2 * var(--page-scale));
        max-height: unset;
    }
    page:not(:first-child)::before {
        width: calc(80vw - var(--display-page-pad) * 2 * var(--page-scale));
        min-width: calc((var(--page-final-w) / 2) * var(--page-scale));
    }
    twocols {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
    }
    twocols > column {
        width: 100%;
        max-height: calc(var(--page-final-h) * var(--page-scale));
    }
    column:not(:first-child) {
        margin-top: calc(var(--page-parskip) * 1.5);
    }
    .limited {
        max-width: unset !important;
    }
}


/* PRINTING */
@media print {
    :root {
        --page-scale: 1;
        --display-xsep: 0;
        --display-ysep: 0;
        --display-margins: 0;
        --border-size: .2mm;
        font-size: 10pt;
    }
    #body0, body, document {
        display: unset;
        break-inside: avoid;
    }
    page {
        display: block;
        padding: unset;
        break-inside: avoid;
        break-after: page;
    }
    page:not(:first-child) {
        padding: unset;
    }
    page:not(:first-child)::before {
        display: none;
    }
    .wip, .noprint {
        display: none !important;
    }
    /* THERE'S A LAYOUT BUG (NOT MINE) ON KATEX SPACERS WHEN PRINTING
    .mspace[style="margin-right: 0.166667em;"] {
        margin-right: .1cm !important;
    }
    .mspace[style="margin-right: 0.5em;"] {
        margin-right: .1cm !important;
    }
    .arraycolsep {
        max-width: .5cm !important;
    }*/
    /*span[style] { 
        color: unset;
    }*/
    @page {
        margin: 1cm;
        size: A4;
    }
}
